<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form action="insert" method="post">
        Course Name:<input type="text" id="cname" name="cname" required><br>
        Fees:<input type="number" id="fees" name="fees" required><br>
        Duration:<input type="number" id="duration" name="duration" required><br>
        <input type="submit" id="add" name="Add">
    </form>
</body>
</html>