<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="update" method="post">
        Id : <input type="number" name="id" id="id"><br>
        Name : <input type="text" name="name" id="name" > <br>
        Fees : <input type="number" name="fees" id="fees" > <br>
        Duration : <input type="number" name="duration" id="duration" > <br>
        <input type="submit" value="submit" id="sub" name="update">
    </form> 
</body>
</html>